#? See https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-wsl-resulting-in-many-modified-files

# Use Unix LF endings for most files
* text=auto eol=lf
# Keep CRLF for Windows-specific scripts, for compatibility
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
